*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 69, 160);
}
.cartao {
    width: 260px;
    height: 200px;
}
.cartao-imagem{
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
   main{
      flex: 1;
   }
   .cabecalho-link{
    color: deepskyblue;
    text-decoration: none ;
   }
   h1{
    color: aqua;
   }